@page
@model MTM_Holidays.Pages.HolidayModel

@{
    ViewData["Title"] = "Holidays";
}
<!--Page Heading-->
<br />
<br />
<h1 class="fw-bold">Available Holidays...</h1>
<br />

<!--Info Bar-->
<section class="text-center features-icons" style="background-color:#F7B1A1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="bi bi-airplane m-auto" style="font-size: 4em;"></i></div>
                        <h3>All Inclusive</h3>
                        <p class="lead mb-0">You never need to leave, we will take care of everything!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="bi bi-suit-heart m-auto" style="font-size: 4em;"></i></i></div>
                        <h3>Family Friendly</h3>
                        <p class="lead mb-0">Endless fun for the whole family!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="bi bi-award m-auto" style="font-size: 4em;"></i></div>
                        <h3>ATOL Protected</h3>
                        <p class="lead mb-0">Travel with reassuarnce and piece of mind!</p>
                    </div>
                </div>
            </div>
        </div>
</section>
<br />

<!--Sort and Search Section-->
<section>
    <nav class="navbar navbar-expand-md navbar--apple bg-light" style="border:1px solid #023E73; border-radius:5px;">
        <div class="container flex-grow">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu-1">...</button>
            <div id="menu" class="collapse navbar-collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item mx-1">
                        @if (Model.CurrentFilter == "hotel")
                        {
                            <a class="btn mt-1" asp-page="./Holiday" asp-route-sortOrder="@Model.PriceSort" asp-route-currentFilter="" style="background-color:#023E73; color: white">Hotels</a>
                        }
                        else
                        {
                            <a class="btn mt-1" asp-page="./Holiday" asp-route-sortOrder="@Model.PriceSort" asp-route-currentFilter="hotel" style="background-color:#567b92; color:white">Hotels</a>
                        }
                    </li>
                    <li class="nav-item mx-1">
                        @if (Model.CurrentFilter == "resort")
                        {
                            <a class="btn mt-1" asp-page="./Holiday" asp-route-sortOrder="@Model.PriceSort" asp-route-currentFilter="" style="background-color:#023E73; color: white">Resorts</a>
                        }
                        else
                        {
                            <a class="btn mt-1" asp-page="./Holiday" asp-route-sortOrder="@Model.PriceSort" asp-route-currentFilter="resort" style="background-color:#567b92; color:white">Resorts</a>
                        }
                    </li>
                    <li class="nav-item mx-1">
                        @if (Model.CurrentFilter == "private")
                        {
                            <a class="btn mt-1" asp-page="./Holiday" asp-route-sortOrder="@Model.PriceSort" asp-route-currentFilter="" style="background-color:#023E73; color: white">Private</a>
                        }
                        else
                        {
                            <a class="btn mt-1" asp-page="./Holiday" asp-route-sortOrder="@Model.PriceSort" asp-route-currentFilter="private" style="background-color:#567b92; color:white">Private</a>
                        }
                    </li>
                    <li class="nav-item mx-3">
                        <a class="btn mt-1" style="background: #023E73; color: white" asp-page="./Holiday" asp-route-sortOrder="@Model.PriceSort" asp-route-currentFilter="@Model.CurrentFilter">Sort by Price</a>
                    </li>
                </ul>
                <form asp-page="./Holiday" class="d-flex pl-5 justify-content-end" style="margin-left:500px" method="get">
                    <div class="shadow-lg mt-3 mb-3">
                        <input class="form-control" type="text" name="SearchString" value="@Model.SearchString" placeholder="Destination " />
                    </div>
                    <div class="shadow-lg mt-3 mb-3">
                        <button class="btn" type="submit" style="background-color:#567b92; height:38px; color:white">Search <i class="bi bi-search"></i> </button>
                    </div>
                </form>
            </div>
            <div id="menu-1" class="collapse navbar-collapse"></div>
        </div>
    </nav>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Navbar---Apple.js"></script>
</section>
<br />

<!--Products-->
<div class="container">
    <div class="row">
        @foreach (var holiday in Model.Holidays)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="@Url.Content(holiday.Pictures[0].URL)" class="card-img-top" style="width:345px; height:240px; position:relative;">
                    <div class="card-body">
                        <span class="bg-dark text-light rounded p-1" style="font-size:0.9em;">£@holiday.Price</span>
                        <h4 class="card-text">@holiday.Title</h4>
                        <a asp-route-id="@holiday.ID" asp-page="/Details" class="btn btn-primary shadow float-end mt-1" style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);">See Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>