@page
@model MTM_Holidays.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}

<div class="container">
    <div class="row mt-4 justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="card shadow">
                <div class="card-body shadow-none" style="background: var(--bs-gray-200);border: 0.5px solid rgb(2,62,115) ;border-right-width: 0.5px;border-bottom-width: 0px;">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p class="text-black-50"></p>
                                    <div class="row">
                                        <div class="col">
                                            <h1 style="text-align: center;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-credit-card-2-front-fill">
                                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zm0 3a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"></path>
                                                </svg>&nbsp;Order Checkout
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-muted card-subtitle mb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-list-ul">
                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                </svg>&nbsp;Customer Details
                            </h6>
                            <p class="card-text text-muted mb-0" style="font-size: 0.8em;"><strong>Name</strong>: @Model.Order.Customer.FirstName @Model.Order.Customer.LastName</p>
                            <p class="card-text text-muted mb-0" style="font-size: 0.8em;"><strong>Email Address</strong>: @Model.Order.Customer.EmailAddress</p>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="border: 0.5px solid rgb(2,62,115);border-top-width: 0px;border-bottom-width: 0.5px;">
                    @foreach (var order_holiday in Model.Order.Order_Holidays)
                    {
                        <div class="row mb-3">
                            <div class="col">
                                <p><strong>@order_holiday.Holiday.Title</strong></p>
                                <p class="mb-0" style="font-size: 0.8em;">From: <span style="color: rgb(242, 112, 82);">@order_holiday.Holiday.OriginAddress.Town, @order_holiday.Holiday.OriginAddress.Country</span></p>
                                <p class="mb-0" style="font-size: 0.8em;">To:&nbsp;<span style="color: rgb(242, 112, 82);">@order_holiday.Holiday.DestinationAddress.Town, @order_holiday.Holiday.DestinationAddress.Country</span><br></p>
                                <p style="font-size: 0.8em;">Dates: <span style="color: rgb(242, 112, 82);">@order_holiday.StartDate.ToShortDateString()</span>&nbsp;To <span style="color: rgb(242, 112, 82);">@order_holiday.EndDate.ToShortDateString()&nbsp;</span>(@order_holiday.Night Nights)</p>
                            </div>
                            <div class="col">
                                <p class="text-end"><span style="color: var(--bs-card-color); background-color: var(--bs-card-bg);">£ @Model.CalculateTotal(order_holiday)</span></p>
                                <div class="mb-0 float-start">
                                    <p style="font-size: 0.8em;">Persons: <span style="color: rgb(242, 112, 82);">@order_holiday.Quantity</span></p>
                                </div>
                                <div class="float-end">
                                    <p class="mb-0 text-end" style="font-size: 0.9em;color: rgb(242,111,83);"><strong>£ @order_holiday.Holiday.Price pppn.*</strong></p>
                                    <p class="text-muted text-end" style="font-size: 0.8em;">* Per Person Per Night</p><a class="btn" asp-page="/OrderEdit" asp-route-id="@order_holiday.ID" type="button" style="margin-right:0.3em;background: var(--bs-card-bg);border-style: solid;border-color: var(--bs-gray-300);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pencil-square">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                        </svg>&nbsp;Edit
                                    </a><a class="btn btn-danger float-end" type="button" asp-route-oh="@order_holiday.ID" asp-page-handler="RemoveHoliday">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-x-circle-fill">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                        </svg>&nbsp;Remove
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                    <hr style="color: rgb(0,0,0);">
                    @if (Model.Order.DiscountCode != null)
                    {
                        <div class="row">
                            <div class="col">
                                <p>Discount</p>
                            </div>
                            <div class="col">
                                <p class="text-end">&nbsp;-£ @Model.Order.DiscountCode.Discount</p>
                                <p class="float-start text-muted" style="font-size: 0.8em;">
                                    Discount Code: @Model.Order.DiscountCode.Code&nbsp;&nbsp;<a class="text-decoration-none" asp-route-id="@Model.Order.ID" asp-page-handler="RemoveDiscount" style="font-size: 1.3em;color: #f27256;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-x-circle">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                    </a>
                                </p>
                                <p class="float-end" style="font-size: 0.8em;color: rgb(242,111,83);">-£ @Model.Order.DiscountCode.Discount</p>
                            </div>
                        </div>
                        <hr style="color: rgb(0,0,0);">
                    }
                    <div class="row">
                        <div class="col">
                            <p style="font-size: 18px;"><strong>Total</strong></p>
                        </div>
                        <div class="col">
                            <p class="text-end" style="font-size: 1.3em;">&nbsp;£ @Model.CalculateTotal()</p>
                        </div>
                    </div>
                    <div class="row">
                        <form method="post">
                            <div class="col-md-7 col-sm-12 float-start px-2">
                                <div class="form-group mb-3">
                                    <input class="form-control" type="text" asp-for="@Model.DiscountCode" placeholder="Enter your discount Code" required />
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12 float-end">
                                <button class="btn d-block w-100" asp-route-id="@Model.Order.ID" type="submit" style="background: #023e73;color: white;">Apply Now</button>
                            </div>
                        </form>
                        <p class="text-danger">
                            @ViewData["DiscountError"]
                        </p>
                    </div>
                    <hr style="color: rgb(0,0,0);">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-5"><a class="btn d-block w-100" asp-route-id="@Model.Order.ID" asp-page-handler="CancelOrder" style="background: var(--bs-card-bg);border-color: #023e73;">Cancel</a></div>
                        <div class="col"><a class="btn d-block w-100" asp-page="/Payment" asp-route-id="@Model.Order.ID" type="button" style="background: #f27052; color:white;">Continue</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>